<a href="https://colab.research.google.com/github/angelicachristabel01/Case-Study-01-Kelompok-K/blob/main/Study_Case_Data_Mining_%26_BI_Kelompok_K.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**KELOMPOK K**



1.   Maria Angelica Christabel (2006483593)
2.   Auranissa Efrida P (2006571192)
3.   Ghefira Nur F. (2006483694)
4.   Inez Aurellia R (2006571204)
5.   Laily Nur Azizah (2006464234)

##**JUDUL**

##**Problem Statement**

Di studi kasus pertama, anda mendapat bantuan keterangan dari manajemen. Setelah berdiskusi *over lunch* dengan beberapa manager senior, anda mendengar bahwa mereka ingin mengetahui:

1. Kualitas data yang dimiliki perusahaan.
2. Apakah ada saran perbaikan data ke DE/DBA perusahaan agar RPPI menjadi *data driven company* yang unggul.
3. Dari data yang ada, apakah ada kecenderungan rumah disuatu kota lebih mahal/murah dibandingkan kota lain?
4. Dari data yang ada, apakah bisa dibuat rekomendasi sebaiknya RPPI membuat kantor cabang berikutnya di kota mana? Mengapa? (Asumsikan RPPI belum memiliki cabang di kota-kota yang disebutkan di data).
5. Rumah dengan karakteristik seperti apa yang paling banyak dijual?
6. Jika RPPI ingin melakukan investasi (max) Rp. 25 Milyar minggu besok, apakah dari data anda dapat memberikan rekomendasi rumah mana saja yang akan berpotensi menghasilkan keuntungan bagi perusahaan?
7. Dan yang terpenting, informasi berharga apa lagi yang bisa anda dapatkan dari data?

##**Data Cleaning and Pre-Processing**

In [ ]:
#import module yang dibutuhkan
import numpy as np, pandas as pd, seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [ ]:
# Loading Data:
import pandas as pd

try: # Running Locally, yakinkan "file_" berada di folder "data"
    jkt = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dpk = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bgr = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tgr = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bks = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')    
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bogor.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/tangerang.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/ADM-Case-01-EDA/master/data/bekasi.csv
    jkt = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dpk = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    bgr = pd.read_csv("data/bogor.csv", low_memory = False, encoding='utf8')
    tgr = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    bks = pd.read_csv("data/bekasi.csv", low_memory = False, encoding='utf8')
    
jkt.shape, dpk.shape, bgr.shape, tgr.shape, bks.shape

((1024, 26), (998, 26), (999, 26), (128, 26), (992, 26))

##**Jakarta**

In [ ]:
jkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   121 non-null    object
 1   LT           121 non-null    float64
 2   LB           121 non-null    float64
 3   KT           121 non-null    float64
 4   KM           121 non-null    float64
 5   garasi       44 non-null     float64
 6   carport      90 non-null     float64
 7   lokasi       121 non-null    object
 8   sertifikat   119 non-null    object
 9   listrik      120 non-null    float64
 10  hadap        36 non-null     object
 11  harga        121 non-null    float64
 12  URL          121 non-null    object
 13  deskripsi    112 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 208.1+ KB

In [ ]:
jkt.isnull().all()

created_at     False
LT             False
LB             False
KT             False
KM             False
garasi         False
carport        False
lokasi         False
sertifikat     False
listrik        False
hadap          False
harga          False
URL            False
deskripsi      False
Unnamed: 14     True
Unnamed: 15     True
Unnamed: 16     True
Unnamed: 17     True
Unnamed: 18     True
Unnamed: 19     True
Unnamed: 20     True
Unnamed: 21     True
Unnamed: 22     True
Unnamed: 23     True
Unnamed: 24     True
Unnamed: 25     True
dtype: bool

In [ ]:
jkt.drop(['Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [ ]:
jkt = jkt.drop(jkt.index[121:1024])

In [ ]:
jkt.isna().sum()

created_at     0
LT             0
LB             0
KT             0
KM             0
garasi        77
carport       31
lokasi         0
sertifikat     2
listrik        1
hadap         85
harga          0
URL            0
deskripsi      9
dtype: int64

In [ ]:
jkt.shape

(121, 14)

##**Bogor**

In [ ]:
bgr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   193 non-null    object
 1   LT           193 non-null    float64
 2   LB           193 non-null    float64
 3   KT           193 non-null    float64
 4   KM           193 non-null    float64
 5   garasi       193 non-null    float64
 6   carport      193 non-null    float64
 7   lokasi       193 non-null    object
 8   sertifikat   193 non-null    object
 9   listrik      193 non-null    float64
 10  hadap        19 non-null     object
 11  harga        193 non-null    float64
 12  URL          193 non-null    object
 13  deskripsi    193 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 203.0+ KB

In [ ]:
bgr.isnull().all()

created_at     False
LT             False
LB             False
KT             False
KM             False
garasi         False
carport        False
lokasi         False
sertifikat     False
listrik        False
hadap          False
harga          False
URL            False
deskripsi      False
Unnamed: 14     True
Unnamed: 15     True
Unnamed: 16     True
Unnamed: 17     True
Unnamed: 18     True
Unnamed: 19     True
Unnamed: 20     True
Unnamed: 21     True
Unnamed: 22     True
Unnamed: 23     True
Unnamed: 24     True
Unnamed: 25     True
dtype: bool

In [ ]:
bgr.drop(['Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [ ]:
bgr.isna().sum()

created_at    806
LT            806
LB            806
KT            806
KM            806
garasi        806
carport       806
lokasi        806
sertifikat    806
listrik       806
hadap         980
harga         806
URL           806
deskripsi     806
dtype: int64

In [ ]:
bgr = bgr.drop(bgr.index[193:999])
bgr.shape

(193, 14)

# Tangerang

In [ ]:
tgr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   124 non-null    object
 1   LT           124 non-null    float64
 2   LB           124 non-null    float64
 3   KT           124 non-null    float64
 4   KM           124 non-null    float64
 5   garasi       38 non-null     float64
 6   carport      92 non-null     float64
 7   lokasi       124 non-null    object
 8   sertifikat   122 non-null    object
 9   listrik      111 non-null    float64
 10  hadap        49 non-null     object
 11  harga        124 non-null    float64
 12  URL          124 non-null    object
 13  deskripsi    124 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 26.1+ KB

In [ ]:
tgr.isnull().all()

created_at     False
LT             False
LB             False
KT             False
KM             False
garasi         False
carport        False
lokasi         False
sertifikat     False
listrik        False
hadap          False
harga          False
URL            False
deskripsi      False
Unnamed: 14     True
Unnamed: 15     True
Unnamed: 16     True
Unnamed: 17     True
Unnamed: 18     True
Unnamed: 19     True
Unnamed: 20     True
Unnamed: 21     True
Unnamed: 22     True
Unnamed: 23     True
Unnamed: 24     True
Unnamed: 25     True
dtype: bool

In [ ]:
tgr.drop(['Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [ ]:
tgr.isna().sum()

created_at     4
LT             4
LB             4
KT             4
KM             4
garasi        90
carport       36
lokasi         4
sertifikat     6
listrik       17
hadap         79
harga          4
URL            4
deskripsi      4
dtype: int64

In [ ]:
tgr = tgr.drop(tgr.index[124:128])
tgr.shape

(124, 14)

# Depok

In [ ]:
dpk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   119 non-null    object
 1   LT           120 non-null    object
 2   LB           118 non-null    float64
 3   KT           118 non-null    float64
 4   KM           118 non-null    float64
 5   garasi       25 non-null     float64
 6   carport      94 non-null     float64
 7   lokasi       118 non-null    object
 8   sertifikat   118 non-null    object
 9   listrik      103 non-null    float64
 10  hadap        62 non-null     object
 11  harga        118 non-null    float64
 12  URL          118 non-null    object
 13  deskripsi    118 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(19), object(7)
memory usage: 202.8+ KB

In [ ]:
dpk.isnull().all()

created_at     False
LT             False
LB             False
KT             False
KM             False
garasi         False
carport        False
lokasi         False
sertifikat     False
listrik        False
hadap          False
harga          False
URL            False
deskripsi      False
Unnamed: 14     True
Unnamed: 15     True
Unnamed: 16     True
Unnamed: 17     True
Unnamed: 18     True
Unnamed: 19     True
Unnamed: 20     True
Unnamed: 21     True
Unnamed: 22     True
Unnamed: 23     True
Unnamed: 24     True
Unnamed: 25     True
dtype: bool

In [ ]:
dpk.drop(['Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [ ]:
dpk.isna().sum()

created_at    879
LT            878
LB            880
KT            880
KM            880
garasi        973
carport       904
lokasi        880
sertifikat    880
listrik       895
hadap         936
harga         880
URL           880
deskripsi     880
dtype: int64

In [ ]:
dpk = dpk.drop(dpk.index[118:997])
dpk.shape

(119, 14)

# Bekasi

In [ ]:
bks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   107 non-null    object
 1   LT           107 non-null    float64
 2   LB           107 non-null    float64
 3   KT           107 non-null    float64
 4   KM           106 non-null    float64
 5   garasi       33 non-null     float64
 6   carport      81 non-null     float64
 7   lokasi       107 non-null    object
 8   sertifikat   106 non-null    object
 9   listrik      101 non-null    float64
 10  hadap        48 non-null     object
 11  harga        107 non-null    float64
 12  URL          107 non-null    object
 13  deskripsi    107 non-null    object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(20), object(6)
memory usage: 201.6+ KB

In [ ]:
bks.isnull().all()

created_at     False
LT             False
LB             False
KT             False
KM             False
garasi         False
carport        False
lokasi         False
sertifikat     False
listrik        False
hadap          False
harga          False
URL            False
deskripsi      False
Unnamed: 14     True
Unnamed: 15     True
Unnamed: 16     True
Unnamed: 17     True
Unnamed: 18     True
Unnamed: 19     True
Unnamed: 20     True
Unnamed: 21     True
Unnamed: 22     True
Unnamed: 23     True
Unnamed: 24     True
Unnamed: 25     True
dtype: bool

In [ ]:
bks.drop(['Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [ ]:
bks.isna().sum()

created_at    885
LT            885
LB            885
KT            885
KM            886
garasi        959
carport       911
lokasi        885
sertifikat    886
listrik       891
hadap         944
harga         885
URL           885
deskripsi     885
dtype: int64

In [ ]:
bks = bks.drop(bks.index[107:992])
bks.shape

(107, 14)

# Perbandingan Harga

##**Explaratory Data Analysis**

##**Conclussion**


1.   List item
2.   List item


##**Recommendation**


1.   List item
2.   List item